<!--<div class="container">-->
<!--  <h1>Register</h1>-->
<!--  <p>Please fill in this form to create an account.</p>-->
<!--  <hr>-->

<!--  <label for="email"><b>Email</b></label>-->
<!--  <input type="text" placeholder="Enter Email" name="email" required>-->

<!--  <label for="psw"><b>Password</b></label>-->
<!--  <input type="password" placeholder="Enter Password" name="psw" required>-->

<!--  <label for="psw-repeat"><b>Repeat Password</b></label>-->
<!--  <input type="password" placeholder="Repeat Password" name="psw-repeat" required>-->
<!--  <hr>-->

<!--  <button type="submit" class="registerbtn">Register</button>-->
<!--</div>-->

<!--<div class="container signin">-->
<!--  <p>Already have an account? <a href="#">Sign in</a>.</p>-->
<!--</div>-->
<div class="enregistrer active-section">
  <div class="contact-form">
    <label>USERNAME</label>
    <input placeholder="" type="text">

    <label>E-MAIL</label>
    <input placeholder="" type="text">

    <label>PASSWORD</label>
    <input placeholder="" type="text">

    <label>CONFIRM PASSWORD</label>
    <input placeholder="" type="text">

    <div class="check">
      <label>
        <input id="check" type="checkbox" class="checkbox">
        <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="23px">
          <path class="path-back"  d="M1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6"/>
          <path class="path-moving" d="M24.192,3.813L11.818,16.188L1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6"/>
        </svg>
      </label>
      <h3>I agree</h3>
    </div>

    <input class="submit" value="SIGN UP" type="submit">

  </div>
</div>

<!--<div class="col-md-12">-->
<!--  <div class="card card-container">-->
<!--    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />-->
<!--    <form name="form" (ngSubmit)="onSubmit($event)" [formGroup]="form" novalidate autocomplete="off">-->
<!--      <div class="form-group">-->
<!--        <label for="username">Login</label>-->
<!--        <input type="text" class="form-control" name="username" formControlName="username" required minlength="5"-->
<!--          maxlength="20" />-->
<!--        <div class="alert-danger" *ngIf="form.get('username')?.dirty && form.get('username')?.invalid">-->
<!--          <div *ngIf="form.get('username')?.errors?.['required']">Login is required</div>-->
<!--          <div *ngIf="form.get('login')?.errors?.['minlength']">-->
<!--            Login must be at least 5 characters-->
<!--          </div>-->
<!--          <div *ngIf="form.get('username')?.errors?.['maxlength']">-->
<!--            Login must be at most 20 characters-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="email">Email</label>-->
<!--        <input type="email" class="form-control" name="email" formControlName="email" required email />-->
<!--        <div class="alert-danger" *ngIf="form.get('email')?.dirty && form.get('email')?.invalid">-->
<!--          <div *ngIf="form.get('email')?.errors?.['required']">Email is required</div>-->
<!--          <div *ngIf="form.get('email')?.errors?.['email']">-->
<!--            Email must be a valid email address-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" class="form-control" name="password" formControlName="password" required minlength="6" />-->
<!--        <div class="alert-danger" *ngIf="form.get('password')?.dirty && form.get('password')?.invalid">-->
<!--          <div *ngIf="form.get('password')?.errors?.['required']">Password is required</div>-->
<!--          <div *ngIf="form.get('password')?.errors?.['minlength']">-->
<!--            Password must be at least 6 characters-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <button class="btn btn-primary btn-block">Register</button>-->
<!--      </div>-->
<!--      <div class="alert alert-warning" *ngIf="isSignUpFailed">-->
<!--        Registration failed!<br />{{ errorMessage }}-->
<!--      </div>-->
<!--    </form>-->

<!--    <div class="alert alert-success" *ngIf="isSuccessful">-->
<!--      Successfully registered!-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
