<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SSAU</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/banks" class="nav-link" routerLink="banks">Home </a>
      </li>
      <li class="nav-item" *ngIf="hasEditAccess">
        <a href="/editor" class="nav-link" routerLink="editor">Book Editor</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isAuthenticated">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Registration</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isAuthenticated">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ user?.username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
