<head>
  <meta charset="utf-8">
</head>
<div class="container-fluid">
  <div class="text-center form-control-sm">
    <label><strong>Лимит</strong></label>
    <input [(ngModel)]="searchText" (input)="search(searchText)" type="search" placeholder="поиск"
           style="margin: 10px auto; width: 50%;">
  </div>
  <label>Всего: <strong>{{credits?.length}}</strong></label>
  <table class="table table-light">
    <thead class="thead-light">
    <tr class="text-center align-middle">
      <th>ID</th>
      <th>Лимит по кредиту</th>
      <th>Процентная ставка</th>
      <th>Максимальный срок(мес.)</th>
      <th>
        <div *ngIf="hasEditAccess" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="addCredit()">Добавить запись
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center {{(credit.show ? '' : 'd-none')}}" *ngFor="let credit of credits">
      <td>{{credit.id}}</td>
      <td>{{credit.limitation}}</td>
      <td>{{credit.rate}}</td>
      <td>{{credit.deadline}}</td>
      <td>
        <div *ngIf="hasEditAccess" class="btn btn-warning" style="margin-right: 5px;"
                [routerLink]="['/edit-credit',credit.id]" (click)="edit(credit)">
          <img id="profile-img-edit" style="width: 20px; height: 20px;"
               src="https://cdn.icon-icons.com/icons2/2368/PNG/512/notes_edit_modify_icon_143729.png"
               class="profile-img-card" alt=""/>
        </div>
        <button *ngIf="hasEditAccess" class="btn btn-danger" (click)="delete(credit.id)">
          <img id="profile-img-delete" style="width: 20px; height: 20px;"
               src="https://cdn.icon-icons.com/icons2/692/PNG/512/seo-social-web-network-internet_262_icon-icons.com_61518.png"
               class="profile-img-card" alt=""/>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
<ng-template appRef></ng-template>



